---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../global.css';
import ProgressScroll from '../components/ProgressScroll.astro';
import SkipLink from '../components/SkipLink.astro';
import type { OpenGraphData, StructuredData } from '../content/config';
import HeadSEO from '../components/HeadSEO.astro';

import '@docsearch/css';

export interface Props {
	description: string;
	home?: boolean;
	title: string;
  progressScroll?: boolean;
  structuredData: StructuredData;
  openGraphData: OpenGraphData;
}

// Ensures the canonicalURL always has a trailing slash.
const canonicalURL = new URL(Astro.url.pathname.replace(/([^/])$/, '$1/'), Astro.site);

const { home = false, title, description, progressScroll = false, structuredData, openGraphData } = Astro.props;

let articleSchema;

if (structuredData?.article) {
  articleSchema = JSON.stringify({
    "@context": "https://schema.org/",
    "@type": "Article",
    "headline": structuredData?.article?.headline,
    "description": structuredData?.article?.description,
    "image": "https://openresource.dev/open-graph" + canonicalURL.pathname.slice(0, -1) + ".png",
    "author": {
      "@type": "Person",
      "name": "Julien Déramond",
      "url": "https://github.com/julien-deramond/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Open &lcub;re&rcub;Source",
      "url": "https://openresource.dev/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://openresource.dev/android-chrome-192x192.png"
      }
    },
    "datePublished": structuredData?.article?.datePublished,
    "dateModified": structuredData?.article?.dateModified,
  });
}
---

<!DOCTYPE html>
<html lang="en" data-theme="light" class="bg-base-100">
	<head>
		<script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else {
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
			}
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Open &lcub;re&rcub;Source" />
		<meta name="description" content={description} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="sitemap" href="/sitemap-index.xml">
		<link href="https://fosstodon.org/@openresource" rel="me">
    <link rel="preconnect" href="https://H12KLKNKCO-dsn.algolia.net" crossorigin />
    <title>Open &lcub;re&rcub;Source - {title}</title>
    <HeadSEO canonicalURL={canonicalURL} openGraphData={openGraphData} />
    {
      articleSchema && <script type="application/ld+json" set:html={articleSchema}></script>
    }
	</head>
	<body>
    <SkipLink />
		<Header />
		<main class={home ? `px-0 pb-0` : `mx-auto max-w-7xl px-2 sm:px-6 lg:px-8`} id="content">
			<slot />
		</main>
		<Footer divider={ !home } />
    { progressScroll && <ProgressScroll /> }
	</body>
</html>
<script>
	import { inject } from '@vercel/analytics';

  import docsearch from '@docsearch/js';

  docsearch({
    appId: 'H12KLKNKCO',
    container: '#docsearch',
    indexName: 'openresource',
    apiKey: '11f67572e786353afae4fb75d30b26a8',
    placeholder: 'Search Open {re}Source',
    getMissingResultsUrl: ({ query }) => {
      let queryExcerpt = encodeURIComponent(query);
      const description = encodeURIComponent(`The search query "${query}" did not return any results.`);

      if (queryExcerpt.length > 30) {
        queryExcerpt = `${queryExcerpt.substring(0, 30)}…`;
      }

      return `https://github.com/Open-reSource/openresource.dev/issues/new?title=Search%20missing%20results%20for%20%22${queryExcerpt}%22&body=${description}&labels=enhancement,search`
    },
  });

 	inject();
</script>
<script>
  const copyButtonLabel = "Copy";
  const codeBlocks = Array.from(document.querySelectorAll("pre"));

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement("div");
    wrapper.className = "clipboard-copy"
    wrapper.style.position = "relative";

    let copyButton = document.createElement("button");
    copyButton.className = "absolute top-0 right-0 z-10 p-2 mt-1 lg:mt-2 mr-1 lg:mr-2 bg-gray-700 text-gray-200 rounded";
    copyButton.innerHTML = copyButtonLabel;

    codeBlock.setAttribute("tabindex", "0");
    codeBlock.appendChild(copyButton);
    codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
    wrapper.appendChild(codeBlock);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  async function copyCode(block, button) {
    let code = block.querySelector("code");
    let text = code.innerText;

    await navigator.clipboard.writeText(text);

    button.innerText = "Copied";

    setTimeout(() => {
      button.innerText = copyButtonLabel;
    }, 700);
  }
</script>
